<configuration scan="true" scanPeriod=" 5 seconds">
    <jmxConfigurator/>
    <!--appender主要用于指定日志输出的目的地，目的地可以是控制台、文件、远程套接字服务器、 MySQL、PostreSQL、 Oracle和其他数据库、 JMS和远程UNIX Syslog守护进程等。-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %X{tid} %logger[%line] - %msg%n</pattern>
        </encoder>
    </appender>


    <appender name="task" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>dir</Key>
            <DefaultValue>/tmp/</DefaultValue>
        </discriminator>
        <sift>
            <appender name="task" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>/tmp/logs/task.log</File>
                <rollingPolicy
                        class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- rollover daily -->
                    <fileNamePattern>/tmp/logs/task/%d{yyyy-MM-dd}/task-%i.log
                    </fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy
                            class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <!-- or whenever the file size reaches 100MB -->
                        <maxFileSize>100MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                    <maxHistory>30</maxHistory>
                </rollingPolicy>
                <encoder>
                    <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %X{tid} %logger[%line] - %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="all" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>dir</Key>
            <DefaultValue>/tmp/</DefaultValue>
        </discriminator>
        <sift>
            <appender name="combination-web" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>/tmp/logs/combination.log</File>
                <rollingPolicy
                        class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- rollover daily -->
                    <fileNamePattern>/tmp/logs/combination/%d{yyyy-MM-dd}/combination-%i.log
                    </fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy
                            class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <!-- or whenever the file size reaches 100MB -->
                        <maxFileSize>100MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                    <maxHistory>30</maxHistory>
                </rollingPolicy>
                <encoder>
                    <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %X{tid} %logger[%line] - %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <!--logger作为日志的记录器，把它关联到应用的对应的context上后，主要用于存放日志对象，也可以定义日志类型、级别-->
    <logger name="com.alibaba" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.mybatis" level="INFO"/>
    <logger name="net.sf.json" level="WARN"/>
    <logger name="org.quartz" level="INFO"/>

    <!--<logger name="com.quick.hr.dao.mapper.companyds.recruit" level="ERROR" addtivity="false">-->
        <!--<appender-ref ref="task"/>-->
    <!--</logger>-->

    <logger name="com.alibaba" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.mybatis" level="INFO"/>
    <logger name="net.sf.json" level="WARN"/>
    <logger name="org.quartz" level="WARN"/>

    <root level="DEBUG">
        <appender-ref ref="console"/>
        <appender-ref ref="all"/>
    </root>
</configuration>